.box{
	position: fixed;
	bottom: 0;
	right: 0;
}

#btn{
	height: 20px;
	width: 20px;
	background-image: url(../img/9.png);
	position: absolute;
	display: inline-block;
	top: 10px;
	right: 10px;
}
#btn:hover{
	background-image: url(../img/10.png);
	background-repeat: no-repeat;
}
.hide{
	display: none;
}