p{
	font-size: 12px;
	text-indent: 2em;
	color: #555555;
	white-space: inherit !important;		
}
li{
	white-space: inherit !important;
}
h5{
	margin-top: 25px;
	font-size: 0.8em !important;
	color: #555555;
}

h1,h5{
	white-space: inherit !important;
}