/* 样式重置 */
body
{
	font-family: '微软雅黑';
}
ul
{
	margin: 0;
	padding: 0;
}
a
{
	text-decoration: none;
}
p
{
	margin: 0;
}
h5
{
	margin: 0;
	padding: 0;
}

/* header部分的样式重置 */
nav
{
	height: 50px;
	background-color: #3D3838;
}
.nav_ul
{
	float: right;
}
.nav_ul li
{
	display: inline-block;
	margin-right: 25px;
}
.nav_ul li a
{
	display: inline-block;
	line-height: 50px;
	color: #fff;
	font-size: 14px;
}
.nav_ul li a:hover
{
	color: #E75576;
}
.current
{
	color: #E75576 !important;
}
nav .logo 
{
	float: left;
	margin-left: 25px;
}
nav .logo img
{
	height: 42px;
	width: 42px;
	border: 1px solid #aaa;
	border-radius: 50%;
	margin-top: 3px;
}
nav .logo_name
{
	float: left;
	margin-left: 15px;
}
nav .logo_name span
{
	display: inline-block;
	font-size: 15px;
	color: #fff;
	height: 50px;
	line-height: 50px;
}
.banner
{
	height: 680px;
	position: relative;
}
.banner .banner_title
{
	height: 160px;
	width: 100%;
	background-color: rgba(255,255,255,.3);
	position: absolute;
	bottom: 145px;
}
.banner_title div
{ 
	position: relative;
	left: 450px;
	width: 320px;
}
.banner_title div h1
{
	font-size: 1.5em;
	letter-spacing: 2px;
	overflow: hidden;
	height: 30px;
	color: #423A3A;
	font-weight: 500;
	animation: mywidth 5s 1s;
	-moz-animation: mywidth 5s 1s;
	-webkit-animation: mywidth 5s 1s;
	-o-animation: mywidth 5s 1s;
}
@keyframes mywidth
{
	from { opacity: 0;width: 0; }
	to { opacity: 1;width: 320px; }
}
@-moz-keyframes mywidth
{
	from { opacity: 0;width: 0; }
	to { opacity: 1;width: 320px; }
}
@-webkit-keyframes mywidth
{
	from { opacity: 0;width: 0; }
	to { opacity: 1;width: 320px; }
}
@-o-keyframes mywidth
{
	from { opacity: 0;width: 0; }
	to { opacity: 1;width: 320px; }
}

/*container部分的样式重置*/
.container
{
	background-color: #74CECE;
}
section
{
	padding: 60px 0;
}
.container .text
{
	width: 70%;
	padding: 15px;
	box-sizing: border-box;
	-o-box-sizing: border-box;
	margin: 0 auto;
}
.text:nth-child(odd){
	background-color: rgba(0,0,0,.06);
}
.text:nth-child(even){
	background-color: rgba(0,0,0,.12);
}
.text .data
{
	margin-bottom: 10px;
	text-indent: left;
}
.data h5
{
	color: #F2F3A4;
}
.text .log_text p
{
	font-size: 13px;
	line-height: 25px;
	letter-spacing: 1px;
	text-indent: 2em;
	color: #fff;
}
/* footer部分的样式重置*/
footer .footer_wrapper
{
	height: 450px;
}
footer .footer_nav
{
	text-align: center;
	padding: 80px 0;
	background-color: #3D3838;
}
.footer_nav ul li
{
	display: inline-block;
	margin: 0 35px;
}
.footer_nav ul li a
{
	display: inline-block;	
	font-size: 	14px;
	color: #fff;
}
.footer_nav ul li a:hover
{
	color: #E75576;
}
.wrapper
{
	background-image: url(../img/laola.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;	
}